{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@exultcorp.com>}}
<div class="flipcard-inner component-inner" role="region" aria-label="{{_globals._components._flipcard.ariaRegion}}">
    {{> component this}}
    <span class="instruction">Select the images to find out more.</span>
    <div class="flipcard-widget component-widget clearfix">
        <div class="row">
            {{#each _items}}
                <div class="flipcard-item component-item item-{{@index}} {{_classes}}">
                    <div class="flipcard-item-face flipcard-item-front">
                        {{#if frontTitle}}
                            <div class="flipcard-item-front-title">
                                {{{frontTitle}}}
                            </div>
                        {{/if}}
                        <img src="{{frontImage.src}}" class="flipcard-item-frontImage" aria-label="{{frontImage.alt}}" tabindex="0">
                    </div>

                    <div class="flipcard-item-face flipcard-item-back">
                        {{> audio-controls this}}
                        {{#if backTitle}}
                            <div class="flipcard-item-back-title">
                                {{{backTitle}}}
                            </div>
                        {{/if}}
                        {{#if backBody}}
                            <div class="flipcard-item-back-body">
                                {{{backBody}}}
                            </div>
                        {{/if}}
                        <button class="back-button">◄ back</button>
                        {{#if backgroundImage}}
                            <div class="flipcard-background-image" style="background-image: url('{{frontImage.src}}')"></div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
