.audio-controls {
  .icon {
    background-image: url("assets/adapt-sprite-sheet-48-green.png");
    height: 40px;
    width: 35px;

    &.play {
      background-position: -865px -100px;
    }

    &.pause {
      background-position: -865px -219px;
    }
  }
}

.extension-audio {
  background-color: #c8c7cc;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  button {
    //float: left;
    display: inline-block;
  //  position: absolute;
  //  right: 50px;
  //  padding: 15px 15px 5px 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 3px;



  }

  input {

    display: inline-block;
  //  position: absolute;
    //right: 45px;
    //top: 75px;
  //  width: calc(100% - 20px);
    width: 100%;
    padding-bottom: 100px;
  }

  input[type='range'] {
   -webkit-appearance: none !important;
    margin: 0;
    padding: 0;
    background: @white;
    overflow: hidden;

  //  height: 13px;
    border: @white 0px solid;
    border-radius: 20px;
  }

  input[type='range']::-ms-fill-lower {
  //  background: #000;
  }

  input[type='range']::-ms-fill-upper {
  //  background: #000;
  }

  input[type='range']::-moz-range-track {
    border: none;
  //  background: #000;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    //background: radial-gradient(@secondary-color, @secondary-color);
    height: 11px;
    width: 11px;
    //border-radius: 100%;
    cursor: pointer;
    //box-shadow: -100vw 0 0 100vw @secondary-color;
  }

  input[type='range']::-moz-range-thumb {
    //background: radial-gradient(@secondary-color, @secondary-color);
    height: 11px;
    width: 11px;
  //  border-radius: 100%;
    cursor: pointer;
    //box-shadow: -100vw 0 0 100vw @secondary-color;
  }

  input[type='range']::-ms-thumb {
    -webkit-appearance: none !important;
    //background: radial-gradient(@secondary-color, @secondary-color);
    height: 11px;
    width: 11px;
  //  border-radius: 100%;
    cursor: pointer;
    //box-shadow: -100vw 0 0 100vw @secondary-color;
  }
}
