<div class="kaltura-text-inner component-inner" role="region" aria-label="{{_globals._components._kaltura.ariaRegion}}">
    {{> component this}}

    {{#if miniPlayer}}
        <script src="https://cdnapisec.kaltura.com/p/1366751/sp/136675100/embedIframeJs/uiconf_id/43894552/partner_id/1366751"></script>
        <div id="{{containerID}}" style="width: 100%; height: 240px;"></div>
        <script>
            kWidget.embed({
                "targetId": "{{containerID}}",
                "wid": "_1366751",
                "uiconf_id": 43894552,
                "flashvars": {},
                "cache_st": 1553710283,
                "entry_id": "{{embedID}}"
            });
        </script>
    {{else}}
        <script src="https://cdnapisec.kaltura.com/p/1366751/sp/136675100/embedIframeJs/uiconf_id/43894552/partner_id/1366751"></script>
        <div id="{{containerID}}" style="width: 100%; height: 514px;"></div>
        <script>
            kWidget.embed({
                "targetId": "{{containerID}}",
                "wid": "_1366751",
                "uiconf_id": 43894552,
                "flashvars": {},
                "cache_st": 1553710283,
                "entry_id": "{{embedID}}"
            });
        </script>
    {{/if}}    
    <div class="kaltura-bottom">
        {{#if certifiedBestPractice}}
            <div class="kaltura-bottom-left">
                {{{compile_a11y_text bodyBottom this}}}
            </div>
            <div class="kaltura-bottom-right">
                {{{compile_a11y_text certifiedBestPractice this}}}
            </div>
        {{else}}
            {{{compile_a11y_text bodyBottom this}}}
        {{/if}}
    </div>
</div>
