.hotgrid-component {
	.hotgrid-widget {
		// Font size set to 0 so there's no gap between items
		font-size: 0;
		position: relative;
		text-align: center;
	}

	.hotgrid-grid-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 50%;
	}

	.hotgrid-item-image {
		display: block;
		margin: 2.5%;
		width: 95%;

		img {
			display: block;
			transition: all 0.25s;
		}

		&.hotgrid-item-states-image {
			.item-states-image.default;

			&.visited {
				.item-states-image.visited;
			}

			.no-touch &:hover {
				.item-states-image.hover;
			}
		}

		@media all and (max-width:(@device-width-medium - 1)) {
			margin: 5px;
		}
	}

	.hotgrid-item-title {
		//font-size: @body-text-font-size;
	}

    //removes tap highlighting on webkit-based browsers found in some mobile devices
    button.base.hotgrid-item-image {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}

// Hotgrid item states - images
// ==============================
.item-states-image {
	.default {
		img.hotgrid-item-image-hover {
			display: none;
		}

		img.hotgrid-item-image-visited {
			display: none;
		}
	}

	.hover {
		> img {
			display: none;
		}

		img.hotgrid-item-image-hover {
			display: block;
		}

		img.hotgrid-item-image-visited {
			display: none;
		}
	}

	.visited {
		> img {
			display: none;
		}

		img.hotgrid-item-image-hover {
			display: none !important;
		}

		img.hotgrid-item-image-visited {
			display: block !important;
		}
	}
}

// Hotgrid item states - css
// ==============================
.hotgrid-component {
	.hotgrid-item-states-css {
		border: 3px solid transparent;
		/* uncomment if circular items */
		// border-radius: 50%;

		.no-touch &:hover {
			//border: 3px solid @item-color;
		}

		&.visited {
			position: relative;

			&:after {
				content: " ";
				display: block;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				//background-color: fade(@item-color-disabled, 50%);
				/* uncomment if circular items */
				//border-radius: 50%;
			}
		}
	}
}

// Hotgrid notify content layout
// ==============================
.hotgrid-notify-container {
	font-size: 0;

	.hotgrid-notify-body {
		display: inline-block;
		//font-size: @body-text-font-size;
		margin-right: 2%;
		vertical-align: top;
		width: 58%;

		.dir-rtl & {
			margin-right: inherit;
			margin-left: 2%;
		}

		@media (max-width: @device-width-medium) {
			margin-right: 0;
			width: 100%;

			.dir-rtl & {
				margin-right: inherit;
				margin-left: 0;
			}
		}

	}

	.hotgrid-notify-graphic {
		display: inline-block;
		vertical-align: top;
		width: 40%;

		@media (max-width: @device-width-medium) {
			display: block;
			margin: 20px auto 0;
			width: 75%;
		}
	}
}

