<div class="animate-inner component-inner">
    <iframe class="animate-window" src="{{src}}" scrolling="no" width="{{#if width}}{{width}}px{{else}}100%{{/if}}" height="{{#if height}}{{height}}px{{else}}100%{{/if}}" style="overflow: hidden" ></iframe>
</div>
