.stacklist-items {
	position: relative;
	margin-bottom: -@item-margin;
}

.stacklist-item {
	position: relative;
	padding: 10px 0 10px 10px;
	margin-bottom: @item-margin;
	//background-color: @item-color;
	//color: @item-text-color;

    &.show {
        position: static !important;
    }
}

.stacklist-button {
	display: none;
	position: absolute;
	top: 0;
	height: 53px;
	width: 100%;
	text-align: center;
}

.stacklist-inner {
    .stacklist-body-inner {
        max-width: 83%;
    }
}
.stacklist-widget {
    .stacklist-items {
        .stacklist-items-inner {
            .stacklist-item {
                z-index: 1;
            }
		}
		&.graphics {
			.stacklist-items-inner, .stacklist-graphic-initial, .stacklist-graphic {
				width: 48%;
				display: inline-block;
			}
			.stacklist-button {
				width: 50%;
			}
		}
    }
    .stacklist-graphic, .stacklist-graphic-initial {
        position: absolute;
        right: 0;
        padding-left: 1em;
        z-index: 0;
    }
    .stacklist-graphic-initial {
        padding-left: 1em;
    }
}