@flipcard-item-transition: all .4s ease-in-out;
@flipcard-item-rotate-Y-minus180deg: rotateY(-180deg);
@flipcard-item-rotate-Y-plus180deg: rotateY(180deg);
@flipcard-item-rotate-Y-0deg: rotateY(0deg);

.flipcard-component {
    .flipcard-item {
        position: relative;
        float: left;
        width: 33.3%;
        height: 220px;

        -webkit-perspective: 600px;
        -moz-perspective: 600px;
        -ms-perspective: 600px;
        -o-perspective: 600px;
        perspective: 600px;

        html.size-medium &,
        html.size-small & {
            width: 100%;
        }

        .flipcard-item-face {
            position: absolute;
            z-index: 110;
            top: 0;
            left: 0;
            float: none;
            overflow: hidden;
            width: 98%;
            height: 98%;
            margin: 1%;
            cursor: pointer;
            background: @white;

            -webkit-transition: @flipcard-item-transition;
            -moz-transition: @flipcard-item-transition;
            -ms-transition: @flipcard-item-transition;
            -o-transition: @flipcard-item-transition;
            transition: @flipcard-item-transition;

            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;

            &.flipcard-item-front {
                -webkit-transform: @flipcard-item-rotate-Y-0deg;
                -moz-transform: @flipcard-item-rotate-Y-0deg;
                -ms-transform: @flipcard-item-rotate-Y-0deg;
                -o-transform: @flipcard-item-rotate-Y-0deg;
                transform: @flipcard-item-rotate-Y-0deg;

                .flipcard-item-frontImage {
                    width: 100%;
                    height: auto;
                }
            }

            &.flipcard-item-back {
                padding: @item-padding;

                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -o-box-sizing: border-box;
                box-sizing: border-box;

                -webkit-transform: @flipcard-item-rotate-Y-minus180deg;
                -moz-transform: @flipcard-item-rotate-Y-minus180deg;
                -ms-transform: @flipcard-item-rotate-Y-minus180deg;
                -o-transform: @flipcard-item-rotate-Y-minus180deg;
                transform: @flipcard-item-rotate-Y-minus180deg;
            }
        }

        &.flipcard-flip {
            .flipcard-item-front {
                -webkit-transform: @flipcard-item-rotate-Y-plus180deg;
                -moz-transform: @flipcard-item-rotate-Y-plus180deg;
                -ms-transform: @flipcard-item-rotate-Y-plus180deg;
                -o-transform: @flipcard-item-rotate-Y-plus180deg;
                transform: @flipcard-item-rotate-Y-plus180deg;
            }

            .flipcard-item-back {
                overflow-x: hidden;
                overflow-y: auto;

                -webkit-transform: @flipcard-item-rotate-Y-0deg;
                -moz-transform: @flipcard-item-rotate-Y-0deg;
                -ms-transform: @flipcard-item-rotate-Y-0deg;
                -o-transform: @flipcard-item-rotate-Y-0deg;
                transform: @flipcard-item-rotate-Y-0deg;
            }
        }
    }
    .flipcard-instruction {
        font-weight: bold;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    // Background Image Setting //
    .flipcard-item {
        button:not(.material-icons){
            z-index: 2;
            bottom: 2em;
            margin: 0;
        }
        .flipcard-item-front-title {
            position: absolute;
            font-size: 30px;
            top: 40%;
            display: block;
            background-color: rgba(255,255,255,0.5);
            color: @black;
            padding: 20px 10px;
            text-align: center;
            width: 80%;
            margin: 0 10%;
            font-weight: bold;
        }
        &.flipcard-flip {
            .flipcard-item-back {
                .extension-audio {
                    z-index: 2;
                }
            }
            .flipcard-item-back-body {
                z-index: 2;
                top: 6em;
                color: @black;
                padding-right: 1em;
            }
            .flipcard-background-image {
                z-index: 1;
                top: 0;
                left: 0;
                opacity: 0.2;
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
