// --------------------------------------------------
// Font declarations
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Roboto+Condensed:300,400,700|Material+Icons');
// --------------------------------------------------

// --------------------------------------------------
// Font family
// --------------------------------------------------
@title-family: 'Roboto+Condensed', sans-serif;
@body-family: 'Open Sans', sans-serif;
@btn-family: 'Open Sans', sans-serif;
// --------------------------------------------------

// --------------------------------------------------
// Font weights
// --------------------------------------------------
@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;

// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)
// --------------------------------------------------

// --------------------------------------------------
// Line heights
// --------------------------------------------------
@title-line-height: 1.2;
@body-line-height: 1.5;
@btn-line-height: 1.5;
// --------------------------------------------------

// --------------------------------------------------
// Icons
// --------------------------------------------------
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 0;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
// --------------------------------------------------

// --------------------------------------------------
// Globals
// --------------------------------------------------
@body-size: 1rem;
@body-weight: @font-weight-regular;

@instruction-size: 1rem;
@instruction-family: @body-family;
@instruction-weight: @font-weight-regular;
@instruction-line-height: @body-line-height;

@btn-size: 1rem;
@btn-weight: @font-weight-regular;

@icon-size: 1.5rem;
@icon-weight: @font-weight-regular;
@icon-line-height: 1;

@link-size: 1rem;
@link-family: @body-family;
@link-weight: @font-weight-regular;
@link-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Menu header
// --------------------------------------------------
@menu-title-size: 3rem;
@menu-title-family: @title-family;
@menu-title-weight: @font-weight-regular;
@menu-title-line-height: @title-line-height;

@menu-subtitle-size: 2rem;
@menu-subtitle-family: @title-family;
@menu-subtitle-weight: @font-weight-light;
@menu-subtitle-line-height: @title-line-height;

@menu-body-size: 1.25rem;
@menu-body-family: @body-family;
@menu-body-weight: @font-weight-regular;
@menu-body-line-height: @body-line-height;

@menu-instruction-size: 1.25rem;
@menu-instruction-family: @body-family;
@menu-instruction-weight: @font-weight-regular;
@menu-instruction-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Menu item
// --------------------------------------------------
@menu-item-title-size: 1.25rem;
@menu-item-title-family: @title-family;
@menu-item-title-weight: @font-weight-regular;
@menu-item-title-line-height: @title-line-height;

@menu-item-body-size: 1rem;
@menu-item-body-family: @body-family;
@menu-item-body-weight: @font-weight-light;
@menu-item-body-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Page header
// --------------------------------------------------
@page-title-size: 3rem;
@page-title-family: @title-family;
@page-title-weight: @font-weight-regular;
@page-title-line-height: @title-line-height;

@page-subtitle-size: 2rem;
@page-subtitle-family: @title-family;
@page-subtitle-weight: @font-weight-light;
@page-subtitle-line-height: @title-line-height;

@page-body-size: 1.25rem;
@page-body-family: @body-family;
@page-body-weight: @font-weight-regular;
@page-body-line-height: @body-line-height;

@page-instruction-size: 1.25rem;
@page-instruction-family: @body-family;
@page-instruction-weight: @font-weight-regular;
@page-instruction-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Page
// --------------------------------------------------
@article-title-size: 2.5rem;
@article-title-family: @title-family;
@article-title-weight: @font-weight-regular;
@article-title-line-height: @title-line-height;

@block-title-size: 2.5rem;
@block-title-family: @title-family;
@block-title-weight: @font-weight-regular;
@block-title-line-height: @title-line-height;

@component-title-size: 2.5rem;
@component-title-family: @title-family;
@component-title-weight: @font-weight-regular;
@component-title-line-height: @title-line-height;

@notify-title-size: 2.5rem;
@notify-title-family: @title-family;
@notify-title-weight: @font-weight-regular;
@notify-title-line-height: @title-line-height;

@item-title-size: 1.25rem;
@item-title-family: @title-family;
@item-title-weight: @font-weight-regular;
@item-title-line-height: @title-line-height;

// --------------------------------------------------
// Pull quote
// --------------------------------------------------
@pull-quote-title-size: 1.25rem;
@pull-quote-title-family: @title-family;
@pull-quote-title-weight: @font-weight-regular;
@pull-quote-title-line-height: @title-line-height;

@pull-quote-body-size: 1rem;
@pull-quote-body-family: @body-family;
@pull-quote-body-weight: @font-weight-bold;
@pull-quote-body-line-height: @body-line-height;
// --------------------------------------------------

// --------------------------------------------------
// Drawer
// --------------------------------------------------
@drawer-item-title-size: 1rem;
@drawer-item-title-family: @title-family;
@drawer-item-title-weight: @font-weight-regular;
@drawer-item-title-line-height: @title-line-height;

@drawer-item-body-size: 0.875rem;
@drawer-item-body-family: @body-family;
@drawer-item-body-weight: @font-weight-regular;
@drawer-item-body-line-height: @body-line-height;

@resources-filter-btn-size: 1rem;
@resources-filter-btn-family: @btn-family;
@resources-filter-btn-weight: @font-weight-regular;
@resources-filter-btn-line-height: @body-line-height;
// --------------------------------------------------
