<div class="component__inner narrative__inner">

  {{> component this}}
  <span class="narrative__mobile-instruction narrative__strapline">Select the plus icons followed by the arrow to find out more.</span>
  <div class="component__widget narrative__widget{{#if _hasNavigationInTextArea}} narrative__text-controls{{/if}}">

    <div class="narrative__content">
      <div class="narrative__content-inner">

        {{#each _items}}
        <div class="narrative__content-item{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}">

          {{#if title}}
          <div class="narrative__content-title">
            {{> audio-controls this}}
            <div class="narrative__content-title-inner" {{a11y_attrs_heading 'componentItem'}}>
              {{{title}}}
            </div>
          </div>
          {{/if}}

          {{#if _graphic.alt}}{{{a11y_aria_image _graphic.alt}}}{{/if}}

          {{#if body}}
          <div class="narrative__content-body">
            <div class="narrative__content-body-inner" data-index="{{@index}}">
              {{{compile body}}}
              <span class="narrative__desktop-instruction">Select the arrow to find out more.</span>
            </div>
          </div>
          {{/if}}

        </div>
        {{/each}}

        <div class="narrative__controls-container u-clearfix">

          <button class="btn-icon narrative__controls narrative__controls-left js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
            <div class="icon"></div>
          </button>

          <div class="narrative__indicators">
            {{#each _items}}
            <div class="narrative__progress js-narrative-progress-click{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}"></div>
            {{/each}}
          </div>

          <button class="btn-icon narrative__controls narrative__controls-right js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
            <div class="icon"></div>
          </button>
        </div>

      </div>
    </div>

    <div class="narrative__strapline">

      <div class="narrative__strapline-header">
        <div class="narrative__strapline-header-inner u-clearfix" style="width: {{_totalWidth}}%">

          {{#each _items}}
          <button class="narrative__strapline-btn js-narrative-strapline-open-popup{{#if _isVisited}} is-visited{{/if}}" aria-label="{{{strapline}}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

            <div class="narrative__strapline-title">
              <div class="narrative__strapline-title-inner">
                {{{strapline}}}
              </div>
            </div>

            <div class="btn-icon narrative__strapline-icon">
              <div class="icon"></div>
            </div>

            <div class="focus-rect"></div>

          </button>
          {{/each}}

        </div>
      </div>

    </div>

    <div class="narrative__slide-container">

      <button class="btn-icon narrative__controls narrative__controls-left js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
        <div class="icon"></div>
      </button>

      <button class="btn-icon narrative__controls narrative__controls-right js-narrative-controls-click" aria-label="{{_globals._accessibility._ariaLabels.next}}">
        <div class="icon"></div>
      </button>

      <div class="narrative__slider u-clearfix" style="width: {{_totalWidth}}%">

        {{#each _items}}
          {{#if _graphic}}
          <div class="narrative__slider-image-container{{#if _isVisited}} is-visited{{/if}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">

            <img class="narrative__slider-image" src="{{_graphic.src}}" aria-hidden="true">

          </div>
          {{/if}}

          {{#if _video}}
          <div class="narrative__slider-image-container{{#if _isVisited}} is-visited{{/if}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">
              <script src="https://cdnapisec.kaltura.com/p/1366751/sp/136675100/embedIframeJs/uiconf_id/43894552/partner_id/1366751"></script>
              <div id="{{_video.containerID}}" style="width: 100%; height: 367px;"></div>
              <script>
                  kWidget.embed({
                      "targetId": "{{_video.containerID}}",
                      "wid": "_1366751",
                      "uiconf_id": 43894552,
                      "flashvars": {},
                      "cache_st": 1553710283,
                      "entry_id": "{{_video.embedID}}"
                  });
              </script>
          </div>
          {{/if}}
          
          {{#if _animate}}
            <div class="narrative__slider-image-container{{#if _isVisited}} is-visited{{/if}}" style="width: {{../_itemWidth}}%" data-index="{{@index}}">
              <iframe class="gframe-window" src="{{_animate.src}}" scrolling="no" width="{{#if _animate.width}}{{_animate.width}}px{{else}}100%{{/if}}" height="{{#if _animate.height}}{{_animate.height}}px{{else}}100%{{/if}}" style="overflow: hidden" ></iframe>
            </div>
          {{/if}}
        {{/each}}

      </div>

    </div>

    <div class="narrative__indicators narrative__slide-indicators">
      {{#each _items}}
      <div class="narrative__progress js-narrative-progress-click{{#if _isVisited}} is-visited{{/if}}" data-index="{{@index}}"></div>
      {{/each}}

    </div>

  </div>
</div>
